body{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    background-image:url('./Captura\ de\ pantalla\ 2023-06-12\ 135622.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 50px;
    padding: 9%;

}




header{

    display: flex;
    justify-content: space-between;
}

.inputsT {
    width: 250px;
    height: auto;
    font-size: 16px;
    text-align: center;
    border-radius: 20px;
  }

  .bontonesT {
    width: auto;
    height: 40px;
    font-size: 16px;
    text-align: center;
    border-radius: 20px;
  }